* {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

main {
  /* height: inherit; */
  display: grid;
  grid-template-columns: repeat(10 1fr);
  grid-template-rows: repeat(1 1fr);
  align-items: center;
  margin: 0;
  background-image: linear-gradient(
    to right,
    rgb(92, 52, 17) 1%,
    rgb(3, 3, 131) 30%,
    rgb(3, 3, 113) 50%,
    rgb(1, 1, 37) 70%
  );
}
.planetWrapperOne {
  grid-column: 1/2;
  display: relative;
}
.sun {
  background-color: rgb(240, 209, 11);
  border-radius: 50rem;
  width: 50rem;
  height: 50rem;
  margin-left: -40rem;
  overflow: hidden;
}
.sun:hover {
  transition-duration: 1.5s;
  background-color: rgb(221, 159, 12);
}
.planetWrapperTwo {
  grid-column: 2/3;
}
.mercury {
  background-color: rgb(120, 118, 118);
  border-radius: 50rem;
  width: 1rem;
  height: 1rem;
}
.mercury:hover {
  transition-duration: 1.5s;
  background-color: rgb(79, 79, 79);
}
.planetWrapperThree {
  grid-column: 3/4;
}
.venus {
  background-color: rgb(173, 141, 141);
  border-radius: 50rem;
  width: 2rem;
  height: 2rem;
}
.venus:hover {
  transition-duration: 1.5s;
  background-color: rgb(137, 106, 106);
}
.planetWrapperFour {
  grid-column: 4/5;
}
.earth {
  background-color: rgb(57, 57, 206);
  border-radius: 50rem;
  width: 2rem;
  height: 2rem;
}
.earth:hover {
  transition-duration: 1.5s;
  background-color: rgb(8, 8, 154);
}
.planetWrapperFive {
  grid-column: 5/6;
}
.mars {
  background-color: rgb(147, 62, 49);
  border-radius: 50rem;
  width: 1rem;
  height: 1rem;
}
.mars:hover {
  transition-duration: 1.5s;
  background-color: rgb(152, 49, 33);
}
.planetWrapperSix {
  grid-column: 6/7;
}
.jupiter {
  background-color: rgb(210, 127, 38);
  border-radius: 50rem;
  width: 9rem;
  height: 9rem;
}
.jupiter:hover {
  transition-duration: 1.5s;
  background-color: rgb(222, 121, 14);
}
.planetWrapperSeven {
  grid-column: 7/8;
}
.saturn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(200, 160, 60);
  border-radius: 50rem;
  width: 7rem;
  height: 7rem;
}
.saturn:before {
  content: "";
  border-radius: 100%;
  position: absolute;
  width: 10rem;
  height: 0.4rem;
  transform: rotate(-30deg);
  background: rgba(255, 255, 255, 0.4);
}
.saturn:hover {
  transition-duration: 1.5s;
  background-color: rgb(221, 165, 23);
}
.planetWrapperEight {
  grid-column: 8/9;
}
.uranus {
  background-color: rgb(157, 157, 216);
  border-radius: 50rem;
  width: 4.5rem;
  height: 4.5rem;
}
.uranus:hover {
  transition-duration: 1.5s;
  background-color: rgb(111, 111, 229);
}
.planetWrapperNine {
  grid-column: 9/10;
}
.neptune {
  background-color: rgb(98, 98, 242);
  border-radius: 50rem;
  width: 4.5rem;
  height: 4.5rem;
}
.neptune:hover {
  transition-duration: 1.5s;
  background-color: rgb(73, 73, 238);
}
